<html>
  <head>
    <title>Hammeroids</title>
    <%= partial "layout/css" %>
  <style>
    canvas{ border: 1px solid black; }
  </style>
  </head>

  <body data-player-uuid="<%= @player.id %>">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h1>Game!</h1>
          <p><strong>Name:</strong> <span id="name"><%= @player.name %></span></p>
        </div>
      </div>

      <div class="row">
        <div class="twelve columns">
          <canvas id="canvas"></canvas>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="js/GameEntities/Slug.js" ></script> -->
    <!-- <script type="text/javascript" src="js/Sockets.js" ></script> -->
    <!-- <script type="text/javascript" src="js/Physics/Physics.js" ></script> -->
    <!-- <script type="text/javascript" src="js/GameEntities/Ship.js" ></script> -->
    <!-- <script type="text/javascript" src="js/GameState.js" ></script> -->
    <!-- <script type="text/javascript" src="js/Game.js" ></script> -->
    <!-- <script type="text/javascript" src="js/App.js" ></script> -->
    <script type="text/javascript" src="<%= settings.pack_location %>main.js" ></script>
  </body>
</html>
