<html>
  <head>
    <title>Hammeroids</title>
  <style>
    canvas{ border: 1px solid black; }
  </style>
  </head>

  <body>
    <h2>Connected Player IDs</h2>
    <div id="players"></div>
    <canvas id="canvas"></canvas>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/Sockets.js" ></script>
    <script type="text/javascript" src="js/Physics/Physics.js" ></script>
    <script type="text/javascript" src="js/GameEntities/Ship.js" ></script>
    <script type="text/javascript" src="js/GameState.js" ></script>
    <script type="text/javascript" src="js/Game.js" ></script>
    <script type="text/javascript" src="js/App.js" ></script>
  </body>
</html>
