<html>
  <head>
    <title>Hammeroids</title>
    <%= partial "layout/css" %>
  <style>
    canvas{ border: 1px solid black; }
  </style>
  </head>

  <body data-settings-base-socket-url="<%= Hammeroids::Settings.base_socket_url %>">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <h1>Game!</h1>
          <p><strong>Name:</strong> <span id="name"><%= @name %></span></p>
        </div>
      </div>

      <div class="row">
        <div class="twelve columns">
          <canvas id="canvas"></canvas>
        </div>
      </div>

      <div class="row">
        <div class="twelve columns">
          <h3>Lobby</h3>
          <div id="lobby">
          </ul>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="<%= settings.pack_location %>main.js" ></script>
  </body>
</html>
