<!DOCTYPE html>
<html>
  <head>
    <title>Join Game</title>
  </head>
  <body>
    <h1>Join Game</h1>
    <form action="/game" method="post">
      <label for="name">Enter name:</label>
      <input type="text" name="name" autofocus>
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
